In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

## Q1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc().

The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc().

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [8]:
reindex=[3,0,1,2]
new_df = df.reindex(reindex)

In [9]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [10]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [4]:
## new questions

In [2]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:
### (i) mean of each and every column present in the dataframe.
### (ii) standard deviation of column, ‘column_2’

In [14]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.384810  0.874391  0.919549  0.951692  0.269445  0.413381
2  0.653010  0.200923  0.514144  0.311424  0.970440  0.613556
3  0.820774  0.667479  0.006956  0.098800  0.283920  0.257895
4  0.073580  0.533808  0.202499  0.358047  0.662792  0.324653
5  0.005332  0.322954  0.636776  0.560398  0.095494  0.404918
6  0.843276  0.230767  0.643627  0.219561  0.240094  0.858758

In [6]:
for i in range(len(df1)):
    a = "column_"+ str(i+1)
    mean = df1[a].mean()
    print(mean)

0.5608173883739923
0.5017489778508221
0.42401047431701056
0.44279724096217715
0.3245096863327075
0.3928735327933361

In [8]:
df1['column_2'].std()

0.1796029386517718

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.If you are getting errors in executing it then explain why.[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [4]:
df1.loc[2] = 'Happy'

In [6]:
df1['column_2'].mean()
## It is giving error because we are trying to find the mean of string and float value which is not possible.

TypeError: unsupported operand type(s) for +: 'float' and 'str'

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?

The window functions in Pandas are used to perform some sort of calculations across a set of rows that are interrelated with the current row. The windows functions help us to perform the aggregated calculations across various partitions or cross-sections of the data.
Windows function in Pandas can be broadly divided into three categories namely- Aggregate, Ranking, and Value.

## Q7. Write a code to print only the current month and year at the time of answering this question. [Hint: Use pandas.datetime function]

In [16]:
from datetime import date
todays_date = date.today()
print("Current year:", todays_date.year)
print("Current month:", todays_date.month)

Current year: 2023
Current month: 3

## Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [5]:
from datetime import date,datetime
year1 = int(input("Enter year:"))
month1 = int(input("Enter month:"))
day1 = int(input("Enter date:"))
date1 = date(year1,month1,day1)
print(date1)

year2 = int(input("Enter year:"))
month2 = int(input("Enter month:"))
day2 = int(input("Enter date:"))
date2 = date(year2,month2,day2)
print(date2)

date3 = datetime(year2,month2,day2) - datetime(year1,month1,day1)
print(date3)

Enter year: 2022
Enter month: 09
Enter date: 05

2022-09-05

Enter year: 2022
Enter month: 12
Enter date: 09

2022-12-09
95 days, 0:00:00

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [10]:
n = input("Enter the file path:")
df = pd.read_csv(n)
a = input("Enter column name:")
b = input("Enter category order:")
pd.Categorical(df[a],ordered=True)

Enter the file path: Titanic_data.csv
Enter column name: Survived
Enter category order: True

[0, 1, 1, 1, 0, ..., 0, 1, 0, 1, 0]
Length: 891
Categories (2, int64): [0 < 1]

## Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Function to read the CSV file and create the stacked bar chart
def visualize_sales_data(file_path):
    # Read the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)

    # Check if the DataFrame has the expected columns (e.g., 'Date', 'Product Category', 'Sales')
    if 'Date' not in df.columns or 'Product Category' not in df.columns or 'Sales' not in df.columns:
        print("The CSV file does not have the required columns (Date, Product Category, Sales).")
        return

    # Convert the 'Date' column to a datetime object
    df['Date'] = pd.to_datetime(df['Date'])

    # Group the data by 'Date' and 'Product Category' and sum the 'Sales' for each group
    grouped_data = df.groupby(['Date', 'Product Category'])['Sales'].sum().unstack()

    # Create a stacked bar chart
    ax = grouped_data.plot(kind='bar', stacked=True, figsize=(12, 6))
    plt.title('Sales Data by Product Category Over Time')
    plt.xlabel('Date')
    plt.ylabel('Total Sales')
    plt.xticks(rotation=45)
    plt.legend(title='Product Category')

    # Show the chart
    plt.show()

if __name__ == "__main__":
    file_path = input("Enter the file path of the CSV file: ")
    visualize_sales_data(file_path)

## Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.The program should do the following
- Prompt the user to enter the file path of the CSV file containing the student dataR
- Read the CSV file into a Pandas DataFrameR
- Calculate the mean, median, and mode of the test scores using Pandas tools.
- Display the mean, median, and mode in a table.
## Assume the CSV file contains the following columns.
- Student ID: The ID of the student.
- Test Score: The score of the student's test.

In [3]:
import pandas as pd
file_path = input("Enter file path:")
df1 = pd.read_csv(file_path)
mean = df1['Test Score'].mean()
median = df1['Test Score'].median()
mode = df1['Test Score'].mode()
df2 = pd.DataFrame({"Statistic":["mean","median","mode"],"Value":[mean,median,mode]})
df2

Enter file path: Student_data.csv

  Statistic                                   Value
0      mean                                    83.5
1    median                                    85.0
2      mode  0    85
Name: Test Score, dtype: int64